.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.ticket{
    /* margin: auto; */
    margin: 10px;
    padding-bottom: 10px;
    width: 80%;
    background-color: antiquewhite;

}
.ticket-head{
    box-sizing: border-box; 
    padding-top: 0.5px;
    text-align: center;
    
}
h2{
    text-align: center;
}
.sensitive{
    color: red;
   
}
.ticket-footer{
    text-align: center;
}
.ticket-body{
    padding-left: 20px;
}
form { 
    position: relative;
    /* top: -40px; */
    right: -60px;
    margin: 0 auto; 
    width:250px;
}

input {
    height: 3em;
    background-color: white; 
    color: black; 
    border: 2px solid red;
  }
  
input:hover {
    background-color: red;
    color: white;
  }
.body-half{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.print{
    position: relative;
    margin: 0 auto; 
    width:250px;
}


@media print {
    .ticket{
        border: 1px solid black;
        margin: 10px;
        padding-bottom: 10px;
        width: 80%;
    
    }  
    h2{
        display: none;
    }
    header h2{
        display: none;
    }
    button{
        display: none;
    }
 }