<!DOCTYPE html>
<html>
<body>
    <p>Select a city to continue...</p>
    <form action=""> 
        <select name="city" id="city" onchange="showCity(this.value)">
            <option value="" selected>Select a City:</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Delhi">Delhi</option>
        </select>
        <input type="date" id="date" name="date" value={{ start_date }} min={{ start_date }}  max={{ end_date }} onchange="showCity(document.getElementById('city').value)">
    </form>
    <br>
    <div id="movie_list">City info will be listed here...</div>

    <script>
        function showCity(str) {
        var xhttp;    
        if (str == "") {
            document.getElementById("movie_list").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            document.getElementById("movie_list").innerHTML = this.responseText;
            }
        };
        var date = document.getElementById("date").value
        xhttp.open("GET", "city/"+str+"/"+date, true);
        xhttp.send();
        }
    </script>

</body>
</html>
