{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/styles/seat.css' %}"  type="text/css"/>
  </head>
  <body>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      {% for row in booking %}
        <div class="row">
        
        {%for column in row%}
            {% comment %}
                {% if forloop.counter == 1 %}
                        <div class="hidden">{{ column.row_name }}</div>
                {% endif %}
            {% endcomment %}
                {% if column.status == 'reserved' %}
                <div class="seat occupied" id='{{ column.id }}'></div>
                {% else %}
                <div class="seat" id='{{ column.id }}' title="{{column.id}}"></div>
                {% endif %}
            {% endfor %}
        </div>
      {% endfor%}
    </div>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of $<span
        id="price"
        >0</span>
    </p>
    <p class="text">
         Selected Seats: <span id="seats-selection">No seats seat selected</span> 
      </p>
    <form action="/confirm-seat/{{show}}" method="post">
        {% csrf_token %}
        <input type="text" id="selected-seats" name="selected-seats" hidden required><br>
        <input type="submit" value="Confirm seletion" onclick="confirm('Confirm booking?')"">
    </form>
    <script src="{% static '/scripts/seat.js' %}" type="text/javascript"></script>
  </body>
</html>
