{% for show in shows %}
            <a href="/city/{{show.theater.city}}/{{show.date_and_time}}/{{show.movie}}/{{show.theater}}">{{ show.theater }}</a><br>
            <small>{{show.show_name}}({{show.date_and_time}})</small><br>
{% endfor %}